<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PropertyEditingTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="FramePropName" value="图幅代号" />
    <add key="DrawingNumName" value="" />
    <add key="StartNum" value="Md-{000}" />
    <add key="Transfer0" value="" />
    <add key="Transfer1" value="" />
    <add key="Transfer2" value="" />
    <add key="Transfer3" value="" />
    <add key="Transfer4" value="" />
    <add key="Transfer5" value="" />
    <add key="Transfer6" value="" />
    <add key="Transfer7" value="" />
    <add key="Transfer8" value="" />
    <add key="Transfer9" value="" />
    <add key="Transfer10" value="" />
    <add key="Transfer11" value="" />
    <add key="Transfer12" value="" />
    <add key="Transfer13" value="" />
    <add key="Transfer14" value="" />
    <add key="Transfer15" value="" />
    <add key="Transfer16" value="" />
    <add key="Transfer17" value="" />
    <add key="Transfer18" value="" />
    <add key="Transfer19" value="" />
    <add key="Remove0" value="" />
    <add key="Remove1" value="" />
    <add key="Remove2" value="" />
    <add key="Remove3" value="" />
    <add key="Remove4" value="" />
    <add key="Remove5" value="" />
    <add key="Remove6" value="" />
    <add key="Remove7" value="" />
    <add key="Remove8" value="" />
    <add key="Remove9" value="" />
    <add key="Remove10" value="" />
    <add key="Remove11" value="" />
    <add key="Remove12" value="" />
    <add key="Remove13" value="" />
    <add key="Remove14" value="" />
    <add key="Remove15" value="" />
    <add key="Remove16" value="" />
    <add key="Remove17" value="" />
    <add key="Remove18" value="" />
    <add key="Remove19" value="" />
    <add key="AddPropertyName0" value="测试名称" />
    <add key="AddPropertyName1" value="" />
    <add key="AddPropertyName2" value="" />
    <add key="AddPropertyName3" value="" />
    <add key="AddPropertyName4" value="" />
    <add key="AddPropertyName5" value="" />
    <add key="AddPropertyName6" value="" />
    <add key="AddPropertyName7" value="" />
    <add key="AddPropertyName8" value="" />
    <add key="AddPropertyName9" value="" />
    <add key="AddPropertyName10" value="" />
    <add key="AddPropertyName11" value="" />
    <add key="AddPropertyName12" value="" />
    <add key="AddPropertyName13" value="" />
    <add key="AddPropertyName14" value="" />
    <add key="AddPropertyName15" value="" />
    <add key="AddPropertyName16" value="" />
    <add key="AddPropertyName17" value="" />
    <add key="AddPropertyName18" value="" />
    <add key="AddPropertyName19" value="" />
    <add key="AddPropertyValue0" value="$文件名" />
    <add key="AddPropertyValue1" value="" />
    <add key="AddPropertyValue2" value="" />
    <add key="AddPropertyValue3" value="" />
    <add key="AddPropertyValue4" value="" />
    <add key="AddPropertyValue5" value="" />
    <add key="AddPropertyValue6" value="" />
    <add key="AddPropertyValue7" value="" />
    <add key="AddPropertyValue8" value="" />
    <add key="AddPropertyValue9" value="" />
    <add key="AddPropertyValue10" value="" />
    <add key="AddPropertyValue11" value="" />
    <add key="AddPropertyValue12" value="" />
    <add key="AddPropertyValue13" value="" />
    <add key="AddPropertyValue14" value="" />
    <add key="AddPropertyValue15" value="" />
    <add key="AddPropertyValue16" value="" />
    <add key="AddPropertyValue17" value="" />
    <add key="AddPropertyValue18" value="" />
    <add key="AddPropertyValue19" value="" />
    <add key="Delimiter" value="-" />
    <add key="PropExistence" value="0" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <PropertyEditingTool.Properties.Settings>
      <setting name="PropRename" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ProcessRange" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PropName" serializeAs="String">
        <value>图幅代号</value>
      </setting>
      <setting name="IsWriteModel" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsWriteDraw" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DrawNumName" serializeAs="String">
        <value />
      </setting>
      <setting name="StartNumber" serializeAs="String">
        <value>Md-{000}</value>
      </setting>
      <setting name="IsWriteConfig" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IsWriteCustom" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsWriteCorresModel" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsWriteDrawDoc" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PropProcessRange" serializeAs="String">
        <value>0</value>
      </setting>
    </PropertyEditingTool.Properties.Settings>
  </userSettings>
</configuration>